<app-floor-toolbar
  class="fixed"
  [title]="title"
  (onMenuItemClicked)="onMenuItemClicked($event)"></app-floor-toolbar>

<mat-sidenav-container class="sidenav-container" layout="column">
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <app-floor-side-menu [sensor]="selectedSensor" (onMenuItemClicked)="onSideMenuItemClicked($event)"></app-floor-side-menu>
  </mat-sidenav>

  <div class="content">

    <img class="floor-plan"
         src="assets/floor-plan.svg">

    <app-sensor [ngClass]="'floor-sensor'" *ngFor="let s of sensors" [sensor]="s"
                [ngStyle]="{'margin-left': s.x, 'margin-top': s.y}"></app-sensor>

  </div>

</mat-sidenav-container>
